body{

}

/* typography */

/* links */

/* layout */

/* images */
button {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: red;
    border: 1px solid darkred;
    cursor: pointer;
}